body{background-color:black;}

#example{
  box-shadow:0 3px 5px #888;
  height: 200px;
}
#example2{
  box-shadow:0 3px 5px #888;
  height: 300px;
}
#example3{
  box-shadow:0 0px 0px #888;
  height: 30px;  
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:40vh;
}
center{ color:white;
  font-size:20px;
}