*{  background-color:pink;}
h1 {
  color: white;
  font-family: 'Permanent Marker', cursive;

  font-size: 100pt;


}
p{color: white;
  font-size: 30pt;
font-family: 'Poiret One', cursive}
a{color: white;}
p{line-height:200%}